mixin sUniqueSetting(data)
	// start sUniqueSetting
	+b.SECTION.sUniqueSetting.section#sUniqueSetting&attributes(attributes)
		+e.container.container
			+img('img/header-bg-1.png').bg-1
			+img('img/sUniqueSetting-bg-1.png').bg-2
			+img('img/sUniqueSetting-bg-2.png').bg-3
			+img('img/sUniqueSetting-bg-3.png').bg-4
			+b.section-title.text-center
				h2 уникальная среда
			+e.wrap
				ul
					li полезные мероприятия
					li крутой нетворкинг и новые знакомства
					li возможность получить финансирование в собственные бизнес-проекты
					li консультации опытных предпринимателей и наставников
					li информационная поддержка
			+e.span и всё это абсолютно бесплатно!
			+e.row.row
				.col-lg-6.col-xxl: +img('img/sUniqueSetting-img-1.jpg').res-i.img.img-1
				.col-lg-6.col-xxl-auto: +img('img/sUniqueSetting-img-2.jpg').res-i.img
	// end sUniqueSetting