mixin sFormats(data)
	// start sFormats
	+b.SECTION.sFormats.section#sFormats&attributes(attributes)
		.container
			+img(src="img/svg/net.svg", alt="").net
			+b.section-title.text-center
				h2 Форматы мероприятий
				+img(src="img/svg/green-bg.svg", alt="").bg-line
			+e.row
				+formstsCard('з флагманских мероприятия клуба', '1', 'Трёхдневные мероприятия в формате бизнес-интенсивов и обучения лидерским качествам для построения сообщества и продвижения ценностей')
					p Встречи с представителями органов исполнительной и законодательной власти
					p Встречи с представителями институтов развития финансовой и нефинансовой поддержки малого и среднего предпринимательства
				+formstsCard('6 окружных мероприятий клуба', '2', 'Однодневные мероприятия в формате форума, включающие стратегические и обучающие сессии по развитию сообщества и межрегионального взаимодействия в рамках федерального округа')
					p Встречи предпринимателей с представителями региональных сетевых торговых площадок в формате круглых столов
					p Стратегические сессии и лекции на тему ведения предпринимательской деятельности с учётом территориальных особенностей федерального округа
				+formstsCard('региональные мероприятия', '3', '1 000 встреч резидентов в регионах')
					p #[span Форматы]
					ul
						li Дискуссионный клуб
						li Мастермайнд
						li Менторская гостиная

	// end sFormats

mixin formstsCard(main, img, title)
	.formats-card__wrapper
		.h3.text-center= main
		+b.formats-card
			+e.img-wrap.bg-wrap
				+img(`img/format-${img}.png`).img-bg
				+e.title= title
			+e.descr
				block