
mixin modal() 
	//  start modals
	div(id="modal-info"  style="display: none" )
		+b.modal-win
			.row
				.col-auto.col-lg-3
					+card('Вадим Кульков', 'Краснодарский край', 'Компания «БРОНИРУЙ»', false, false)
				.col-lg
					+e.content
						p Технониколь
						p В 1992 году, будучи на третьем курсе института, совместно с однокурсником Сергеем Колесниковым основал компанию «Технониколь». В 2015 году компания входила, на 91 месте, в Топ-200 крупнейших частных компаний в России по версии Forbes, в 2018 году она занимала 111-е место.
						p В декабре 2017 года вышла в свет книга Игоря Рыбакова «Жажда», в которой он поделился своим взглядом на историю создания «Технониколь» и своей философией предпринимательства, а также рассказал, как пришел к решению заняться деятельной филантропией. В мае 2018 года книга «Жажда» стала победителем конкурса «Деловая книга года в России».
						<br/>
						p В ноябре 2018 года Игорь Рыбаков вместе со своим партнером по «Технониколь» Сергеем Колесниковым победил в конкурсе EY «Предприниматель года 2018» в России.
						p В 2015 году Рыбаков впервые попал в рейтинг журнала Forbes с состоянием в 450 млн долларов США.
						<br/>
						p Инвестиции
						p Компания «Николь Пак» (Рыбакову принадлежит половина долей компании) — производитель картона и продукции из него. В состав компании входит пять заводов в России с общей производительностью 255 тыс. тонн картона в год. Летом 2018 года «Николь Пак» приобрела ведущего производителя картонно-бумажной продукции Центральной Азии.
						p В феврале 2018 года в Москве у метро «Курская» открылся «смарт-офис» компании SOK, работающий по принципу коворкинга; соинвестором проекта стал И. Рыбаков, структуры которого вложили в сеть коворкингов компании SOK 1,2 млрд руб Летом 2018 года сеть коворкингов SOK И. Рыбакова взяла под управление 3200 м² в бизнес-центре «Сады Пекина» рядом с метро «Маяковская»; по сообщению консалтинговой компании OF.RU, выступившей консультантом сделки, договор аренды сроком на 10 лет подписан в августе. В сентябре 2018 года смарт-офис SOK открыла самый большой коворкинг в России в здании «ВТБ Арена парк» на Ленинградском проспекте в Москве
						p В июне 2024 года основатель корпорации «Технониколь» выкупил у «Галс-Девелопмент» почти 90 га земли рядом с коттеджным поселком «Европа» на Ильинском шоссе. Участок обошелся бизнесмену в 1 млрд руб. Там будут развивать проект под названием «Город будущего». Его будут строить в несколько этапов. Кроме жилья, там возведут торгово-деловой центр, школу, фитнес-клуб.
	div(id="modal-find"  style="display: none" )
		+b.modal-win
			+e.head
				.row
					.col-md-auto
						+input("select",'select')
					.col-md
						+e.search: +input('Введите регион', 'text')
			+e.body.row
				-for(let i = 0; i < 10; i++)
					.col-sm-6.col-md-4: +card('Вадим Кульков', 'Краснодарский край', '', false)
	// #modal-call

	
	// end modals