mixin sRegionalOffices(data)
	// start sRegionalOffices
	+b.SECTION.sRegionalOffices.section#sRegionalOffices&attributes(attributes)
		+e.container.container
			+img('img/sRegionalOffices-img-2.png').bg
			.num 
				| 89
				+img('img/num-bg.png')
			+b.section-title
				h2 региональных представительств
				+img('img/sRegionalOffices-img-1.png')
		.container
			+e.wrap
				+img('img/svg/clubIs-svg-1.svg').bg-1
				+img('img/sRegionalOffices-img-4.png').bg-2
				+img('img/sRegionalOffices-img-5.png').bg-3
				+img('img/sRegionalOffices-img-6.png').bg-4
				+e.img-wrap
					video(controls poster='img/sRegionalOffices-img-3.png')
						source(src="/video/video.webm" type="video/webm")
						source(src="/video/video.mp4" type="video/mp4")
	// end sRegionalOffices

	//- public/video/video.mp4