mixin sClubIs(data)
	// start sClubIs
	+b.SECTION.sClubIs.section#sClubIs&attributes(attributes)
		.container
			+e.wrap
				+img('img/clubis-img-2.jpg').bg
				.row 
					.col-xl
						+e.inner-content
							+img('img/svg/clubIs-svg-1.svg')
							h2 Клуб – это:
							p Сообщество предпринимателей, в котором каждый может найти бизнес-партнёров и наставников, повысить узнаваемость своей компании и развить своё дело на региональном и федеральном уровнях
							ul
								li Сообщество единомышленников
								li Институт развития молодёжного предпринимательства в регионах
								li Партнёрство между бизнесом и государством
								li Вдохновляющие истории успеха
								li Бизнес здесь и сейчас!
					.col-xl-auto
						+img('img/clubis-img-1.jpg').img
			+e.bottom-content: p #[span Наша миссия] — вдохновлять молодых людей делать бизнес в России, брать ответственность за себя, за своё окружение, за свой регион и будущее страны
	// end sClubIs