extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
 
include ../blocks/sClubIs/_sClubIs.pug
include ../blocks/sRegionalOffices/_sRegionalOffices.pug
include ../blocks/sAllforYou/_sAllforYou.pug
include ../blocks/sClub/_sClub.pug




include ../blocks/sQuestions/_sQuestions.pug
include ../blocks/sPart/_sPart.pug
include ../blocks/sFormats/_sFormats.pug
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sContact/_sContact.pug


block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+headerBlock
		+sClubIs 
		+sRegionalOffices
		+sAllforYou
		+sClub()





		+sFormats
		+sPart
		+sQuestions
		+sPartners
		+sContact
	+parts('footer')