mixin sStructure(data)
	// start sStructure
	+b.SECTION.sStructure.section#sStructure&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sStructure
				
			+e.row.row
	// end sStructure