mixin sOpportunities(data)
	// start sOpportunities
	+b.SECTION.sOpportunities.section#sOpportunities&attributes(attributes)
		+e.container.container
			+img('img/sOpportunities-bg-1.png').bg-1
			+b.section-title.text-center
				h2 возможности для резидентов
			+e.row.row
				.col-lg
					ul
						li Продвижение бизнеса на региональном и<br/>федеральном уровнях
						li Медийная поддержка резидентов в соцсетях Росмолодёжь.Бизнес
						li Возможность стать наставником для начинающих предпринимателей
				.col-lg
					ul.list-second
						li Участие в качестве спикера на форумах и в<br/>проектах трека Росмолодёжь.Бизнес
						li Участие в бизнес-миссиях в зарубежные страны
						li Участие в партнёрских мероприятиях
			+e.btn.btn.btn-primary(href='#') Вступить в клуб
	// end sOpportunities