// start .sQuestions
.sQuestions {
	// --sPT: #{rem()};
	--sPB: #{rem(93)};
	--sTPB: #{rem(44)};
	
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}

  .dd-group {
    background: $white;
    border-radius: rem(15);
    &__head {
      padding: rem(34) rem(25);
      padding-bottom: rem(30);
      padding-right: rem(15);
      text-transform: uppercase;
      font-size: rem(16);
      cursor: pointer;
      color: $gray-700;
      font-weight: 700;
      line-height: 120%;
      display: flex;
      gap: rem(10);
      justify-content: space-between;
      align-items: center;
      @include media-breakpoint-up(md) {
        font-size: rem(18);
      }
      &:after {
				@include mt;
				content: '';
        flex-shrink: 0;
				display: inline-block;
				width: rem(30);
				height: rem(30);
				background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23F2F4F6' /%3E%3Cpath d='M8 20H32' stroke='%23292929' stroke-width='2' /%3E%3Cpath d='M20 8L20 32' stroke='%23292929' stroke-width='2' /%3E%3C/svg%3E");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				margin-left: rem(4);
				vertical-align: middle;
        @include media-breakpoint-up(md) {
          width: rem(40);
          height: rem(40);
        }
			}
    }
    &__item {
      &:not(:last-child) {
        border-bottom: rem(1) solid $gray-700;
      }
			&:last-child {
				margin-bottom: 0;
			}
			&.active {
				.dd-group__head:after {
					transform: rotate(135deg);
				}
			}
		}
    &__content {
      color: $gray-700;
      padding: 0 rem(44) rem(26) rem(25);
    }

    p {
      margin-bottom: 0;
      line-height: 120%;
    }
  }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sQuestions


.dd-group__content {
  display: none;
  &.active {
    display: block;
  }
}
