mixin sQuestions(data)
	// start sQuestions
	+b.SECTION.sQuestions.section#sQuestions&attributes(attributes)
		.container
			+b.section-title
				h2 Часто задаваемые вопросы
			+ddGroup
				+ddGroupItem('Какие критерии отбора в Клуб?')
					p Участие во встречах Клуба молодых предпринимателей Росмолодёжь.Бизнес по всей России Участие во встречах Клуба молодых предпринимателей Росмолодёжь.Бизнес по всей России Участие во встречах Клуба молодых предпринимателей Росмолодёжь.Бизнес по всей России
				+ddGroupItem('Как узнавать о новых анонсах встреч Клуба?')
					p Участие во встречах Клуба молодых предпринимателей Росмолодёжь.Бизнес по всей России
				+ddGroupItem('Кто проводит встречи Клуба?')
					p Участие во встречах Клуба молодых предпринимателей Росмолодёжь.Бизнес по всей России Участие во встречах Клуба молодых предпринимателей Росмолодёжь.Бизнес по всей России
				+ddGroupItem('Могу ли я посещать мероприятия без регистрации в Клубе?')
					p Участие во встречах Клуба молодых предпринимателей Росмолодёжь.Бизнес по всей России
				+ddGroupItem('Какие привилегии даёт участие в Клубе?', 'active')
					p 1) Участие во встречах Клуба молодых предпринимателей Росмолодёжь.Бизнес по всей России
					p 2) Медийная поддержка в соцсетях Росмолодёжь.Бизнес (интервью, подкасты, истории успеха, кейсы, экспертные материалы, исследования)
					p 3) Участие в закрытых встречах с лидерами общественного мнения, представителями органов власти, владельцами и топ-менеджерами крупных компаний
					p 4) Возможность найти наставников, партнёров, единомышленников
					p 5) Возможность стать наставником для начинающих предпринимателей
					p 6) Участие в качестве спикера на форумах и в проектах Росмолодёжь.Бизнес
					p 7) Участие в бизнес-миссиях в зарубежные страны в составе отраслевых делегаций
					p 8) Программа лояльности от партнёров
	// end sQuestions