// start .sClub
.sClub {
	--sPT: #{rem(60)};
	--sPB: #{rem(100)};
	--sTPB: #{rem(22)};
	position: relative;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(126.400)};
		--sPB: #{rem(206)};
		--sTPB: #{rem(44)};
	}
	.picture-bg {
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		width: auto;
	}
	&__container {
		position: relative;
		.bg-2 {
			position: absolute;
			left: rem(-80);
			top: rem(-112);
			z-index: -1;
			@include media-breakpoint-up(lg) {
				left: 0;
			}
		}
		.bg-3 {
			position: absolute;
			right: rem(-100);
			top: rem(19);
			z-index: -1;
			@include media-breakpoint-up(lg) {
				right: 0;
			}
		}
	}
	.section-title {
		h2 {
			color: #fff;
		}
	}
	&__swiper-wrapper {
		max-width: rem(1111);
		margin: 0 auto 0px auto;
		// margin: 0 auto;
	}
	.defaultSwiper {
		@include media-breakpoint-up(sm) {
			--gutter: #{rem(18)};
			--slide-count: 2;
		}
		@include media-breakpoint-up(lg) {
			--gutter: #{rem(38)};
			--slide-count: 3;
		}
		.swiper-button-hand {
			z-index: 10;
			top: rem(-80);
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sClub