mixin sClub(data)
	// start sClub
	+b.SECTION.sClub.bg-wrap.section#sClub&attributes(attributes)
		+img('img/sClub-bg-1.png').picture-bg
		+e.container.container
			+img('img/sClub-bg-2.png').bg-2
			+img('img/sClub-bg-3.png').bg-3
			+b.section-title.text-center
				h2 клуб в лицах
			+e.swiper-wrapper
				+defaultSlider(true)
					+e.slide.swiper-slide
						+card('Вадим Кульков', 'Краснодарский край', 'Компания «БРОНИРУЙ»')
					+e.slide.swiper-slide
						+card('Валерия Котова', 'Вологодская область', 'Салон мебели VALERIE')
					+e.slide.swiper-slide
						+card('Дмитрий Моисеенко', 'Красноярский край', 'Промтехэкология')
					+e.slide.swiper-slide
						+card('Вадим Кульков', 'Краснодарский край', 'Компания «БРОНИРУЙ»')
					+e.slide.swiper-slide
						+card('Валерия Котова', 'Вологодская область', 'Салон мебели VALERIE')
					+e.slide.swiper-slide
						+card('Дмитрий Моисеенко', 'Красноярский край', 'Промтехэкология')
	// end sClub